<?xml version="1.0"?>
<config>
    <modules>
        <InternetCode_AdvancedProductFilter>
            <version>0.1.0</version>
        </InternetCode_AdvancedProductFilter>
    </modules>
    <global>
        <models>
            <advprodfilter>
                <class>InternetCode_AdvancedProductFilter_Model</class>
            </advprodfilter>
        </models>
        <blocks>
            <advprodfilter>
                <class>InternetCode_AdvancedProductFilter_Block</class>
            </advprodfilter>
        </blocks>
        <helpers>
            <advprodfilter>
                <class>InternetCode_AdvancedProductFilter_Helper</class>
            </advprodfilter>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <internetcode_advanced_product_filter>
                        <type>model</type>
                        <class>advprodfilter/observer</class>
                        <method>attachButton</method>
                    </internetcode_advanced_product_filter>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <catalog_product_collection_load_before>
                <observers>
                    <internetcode_advanced_product_filter_apply>
                        <type>model</type>
                        <class>advprodfilter/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </internetcode_advanced_product_filter_apply>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <InternetCode_AdvancedProductFilter before="-">InternetCode_AdvancedProductFilter_Adminhtml</InternetCode_AdvancedProductFilter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
